body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  direction: rtl;
  text-align: center;
  /* background: linear-gradient(#fff8f0, #f7f1e0); */
  color: #333;
}

.hero {
  /* background: url('https://images.unsplash.com/photo-1519744792095-2f2205e87b6f?auto=format&fit=crop&w=1600&q=80') no-repeat center center/cover; */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin: 0;
}

.container {
  background: white;
  max-width: 450px;
  margin: -50px auto 50px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  animation: fadeIn 1s ease-in-out;
}

input, select, textarea, button {
  width: 440px;
  margin: 12px 0;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
}

textarea { resize: none; }

button {
  background: #b89b5e;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.btninc {
    width:15px;
}
#guests {
   
  width: 30px; 
  text-align: center;
  
}
#attendance {
    /* width: 150px; */
    display: block;
    }
button:hover { background: #a4884c; }

.hidden {
     display: none; 
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

p#msg {
  font-size: 16px;
  color: #b89b5e;
  font-weight: bold;
}



