body {
  margin: 0;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  direction:rtl;
  text-align: center;
  /* background: linear-gradient(#fff8f0, #f7f1e0); */
  color: #333;
}

/* html {
  font-size: 67.5%;
} */

.hero {
  /* background: url('https://images.unsplash.com/photo-1519744792095-2f2205e87b6f?auto=format&fit=crop&w=1600&q=80') no-repeat center center/cover; */
  height: 300px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: rgb(142, 17, 17);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

/* .hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin: 0;
} */

.container {
  margin-top: 30px;
  background: white;
  max-width: 700px;
  /* width: 100%; */
  margin: -50px auto 50px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  animation: fadeIn 1s ease-in-out;
}

input, select, textarea, button {
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 36px;
  text-align: center;
  }

textarea { resize: none; }
s
button {
  background: #b89b5e;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.btninc {
    width:50px;
}

#guests {
  margin: 10px; 
  width: 50px; 
  text-align: center;
  
}
#attendance {
    /* width: 300px; */
    display: block;
    /* margin-right: 200px; */
    }
button:hover { background: #a4884c; }

.hidden {
     display: none; 
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

label {
  font-size: 36px;
  font-weight: bold;
  text-align: right;
  color:blue;
}

p {
  font-size: 36px;
  color: rgb(71, 7, 207);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

p #msg {
  font-size: 24px;
  color: #b89b5e;
  font-weight: bold;
}

#reset {
  font-size: 36px;
}
.readonly input,
.readonly textarea {
  pointer-events: none;
  background-color: #f5f5f5;
}

@media screen and (max-width: 3000px) and (min-width: 750px) {
    .container {
      width: 480px;
     
    }
        
  }

  /* MOBILE - PORNAINT */
  @media screen and (max-width: 750px) and (min-width: 480px){
    .container {
      width: 250px;
    }
    label {
      font-size: 16px;
      color: blue;
    }
    p {
      font-size: 16px;
    }
    p #msg {
      font-size: 14px;
    }
    input, select, textarea, button {
      font-size: 16px;
    }
    #mobile {
      font-size: 16px;
    }
    #reset {
      font-size: 16px;
    }
    .hero {
      height: 100px;
    }
    .hero h1 {
      font-size: 20px;
    }
    
  }

  @media (max-width: 480px) {
    .container {
      width: 300px;
    }
    label {
      font-size: 16px;
      color: blac;
    }
    p {
      font-size: 12px;
    }
    p #msg {
      font-size: 10px;
    }
    input, select, textarea, button {
      font-size: 16px;
    }
    #mobile {
      font-size: 16px;
    }
    #reset {
      font-size: 16px;
    }
    .hero {
      height: 100px;
    }
    .hero h1 {
      font-size: 20px;
    }
    
  }
