body {
            direction: rtl;
            font-family: Arial, sans-serif;
            background: #f4f4f4;
            /* padding: 20px; */
        }

        .form-container {
            text-align: center;
            direction: rtl;
            max-width: 600px;
            margin: auto;
            /* background: rgb(227, 235, 220); */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .form-group {
            /* background-color: bisque; */
            margin-bottom: 15px;
        }
        #name {
            display: none;
        }
        #mobile {
            display: none;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
        }

        button {
            padding: 12px 20px;
            background: #007bff;
            color: white;
            border: none;
            cursor: pointer;
        }
        button .attendance {
            background: white;
        }

        button:hover {
            opacity: 0.9;
        }
        h1 {
           text-align: center; 
        }

        p {
            font-size: 30px;
            color: rgb(71, 7, 207);
            text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
        }

        /* .attendance {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            border-color: blue;
            border-width: 2px;
            width: 150px;
            height: 45px;
            padding: 5px;
            font-size: 24px;
        } */
        #yes {
            padding: 5px;
            margin-left: 30px;
            width: 100px;
            display: inline;
            /* margin-left: 30px; */
            color: green;
            border-width: 3px;
            background-color: white;
            border-color: green;
            border-radius: 15px;
            font-size: 18px;
            
        }
        #no {
            padding: 5px;
            width: 100px;
            display: inline;
            font-size: 18px;
            color: red;
            border-width: 3px;
            background-color: white;
            border-color: red;
            border-radius: 15px;
        }

        #incnum {
            border-color: black;
            border-width: 12px;
        }
        #submit {
            width: 100%;
            margin-top: 10px;
        }
        .btninc {
            padding: 5px;
            width:50px;
            color: white;
            background-color: blue;
            font-weight: 300;
    
        }

        #guests {
            margin: 10px; 
            width: 45px; 
            padding: 5px;
            text-align: center;
            font-size: 16px;
  
        }
        .btninc:hover {
            opacity: 0.7;
        }

        #attendance {
            display: inline;   
        }

        .hidden {
            display: none; 
        }

        img {
            margin-top: 10px;
            width: 100%;
            height: 600px;
        }

        /* Bracha */

        #greeting-box {
            display: flex;
            align-items: center;
            max-width: 400px;
            margin: 20px auto;
            font-family: Arial, sans-serif;
        }

        #toggleBtn {
            width: 180px;
            padding: 12px;
            background: #0d6efd;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 16px;
        }

        #toggleBtn:hover {
            background: #0b5ed7;
        }

        #messageArea {
            margin-top: 10px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.4s ease;
        }

        #messageArea.open {
            max-height: 300px;
        }

        #greetingText {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 8px;
            resize: vertical;
            box-sizing: border-box;
        }


        /* Mobile */
        @media screen and (max-width: 768px) {
            .form-container {
                /* padding: 15px; */
                background-color: burlywood;
            }
            p {
            font-size: 24px;
            }    
            input,
            select,
            textarea,
            button {
                font-size: 16px;
            }

            button {
                width: 100%;
            }
            /* #notes {
                width: 400px;
            } */
        }

        /* Small Phones */
        @media screen and (max-width: 480px) {
            .form-container {
                padding: 10px;
                background-color: rgb(214, 235, 140);
            }
            p {
            font-size: 16px;
            }  
           
            h1 {
                font-size: 22px;
                text-align: center;
            }
            /* #notes {
                width: 480px;
            } */
        }